<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DA WIZARD FORUM</title>

    <!-- Bootstrap -->
<link href="http://stayhungrystayfoolish.io/css/bootstrap.css" rel="stylesheet">

  </head>
  <body>
    <center><h1>DA WIZARD FORUM</h1></center>


<table class="table table-striped">
        <thead>
<h1>
 <th>Title</th>
 <th>URL</th>
 <th>Desciption</th>
 <th>Wizard Name</th>
</h1>
</thead>
 <tbody>

   <% @articles.each do |article| %>
    <tr>
     <td><%= article[0] %></td>
     <td><a href="<%= article[1] %>"><%= article[1] %></a></td>
     <td><%= article[2] %></td>
     <td><%= article[3] %></td>
      </tr>
   <% end %>

 </tbody>
</table>
<center>
<a href="/article" class="btn btn-primary btn-large"><i class="icon-white icon-star-empty"></i> Submit New Stories Here</a>
</center>
  </body>
</html>